*{
    font-size: 20px;
}

html{
    height: 100%;
    margin: 0;
}

body{
    min-height: 100vh;
    background: #F3F5FC;
}

main{
    display: flex;
    justify-content: center;
    justify-items: center;
}

.espacio{
    padding-bottom: 1.5rem;
}

header{
    text-align: center;
    display: grid;
    grid-template-columns: 8fr 1fr;
    align-items: center;
}

.logo1{
    height: 3.125rem;
    width: auto;
    margin: 1.25rem 0 1.25rem 1.25rem;
}

.switch{
    margin: 1.25rem 1.25rem 1.25rem 0;
    height: 1.875rem;
    width: 5rem;
    font-size: 1.25rem;
    cursor: pointer;
    vertical-align: top;
    border-radius: 1000px;
    background: #0A3871;
    color: white;
    border: 2px solid white;
    box-shadow: 0 0.5rem 0.9375rem -0.5rem rgb(90, 90, 90);
}

/* CUADRO DE LA IZQUIERDA DONDE SE RECIBE EL MENSAJE */

.cuadro1{
    margin: 0.625rem 1.25rem;
    height: 28.125rem;
    width: 70%;
    
}

.text-area{
    background-color: rgba(255, 255, 255, 0.377);
    border-radius: 0.9375rem;
    overflow:visible;
    resize: none;
    border: none;
    outline: none;
    color:#0A3871;
    width: calc(100% - 1.4rem);
    height: 21.25rem;
    padding: .7rem;
}

h6{
    font-size: 0.9375rem;
    opacity: 80%;
    color: #495057;
    text-align: center;
    margin: 10px 10px;
}/*necesario para que el texto se ajuste*/

.botones{
    width: 100%;
    display: flex;
    justify-content: center;
}

.encryp{
    background: #0A3871;
    color: white;
    font-weight: bold;
    border: none;
}

.desencryp{
    background: #D8DFE8;
    color: #0A3871;
    font-weight: bold;
    border: 1px solid #0A3871;
}

.encryp, .desencryp{
    padding: .5em;
    margin: .5em;
    width: 12.5rem;
    border-radius: 1.875rem;
}

/*    Estilos de boton interactivos  */

.encryp:hover, .desencryp:hover, .copy:hover{
    box-shadow: 0 0 .8rem #0A3871;
    cursor: pointer;
}

.encryp:active{
    box-shadow: 0 0 1.25rem white;
    background: #0e59b4;
    transform: scale(.95);
    animation: 1s;
}

.desencryp:active{
    box-shadow: 0 0 1.25rem white;
    background: #8c8f94;
    color: white;
    transform: scale(.95);
    animation: 1s;
}

.copy:active{
    box-shadow: 0 0 1.25rem white;
    background: #0e59b4;
    transform: scale(.95);
    animation: 1s;
    color: white;
}

/* CUADRO DE LA DERECHA DONDE SE DECIFRA EL MENSAJE */

.cuadro2{
    margin: 0.625rem 1.25rem;
    height: 28.125rem;
    width: 30%;
    text-align: center;
    position: relative;
    /*
    vertical-align: top; era inline block y esto top es necesario*/
}

.contenedor2{
  width: 100%;
}

.mensaje2{
    overflow: visible;
    resize: none;
    background: white;
    outline: none;
    border-radius: 10px;
    border-width: 3px;
    width: calc(100% - 1.4rem);
    height: 28.125rem;
    padding: .7rem;
    border: none;
    box-shadow: 0 10px 20px -8px rgb(90, 90, 90);
    /*x y b s color(shadow)*/
}

.btn_copy{
  width: 100%;
}

.copy{
    margin: 0.625rem;
    background: white;
    border-radius: 3.125rem;
    font-weight: bold;
    font-size: 16px;
    color: #0A3871;
    border: 1px solid #0A3871;
    position: absolute;
    padding: 0.5em;
    width: 25%;
    min-width: 80px;
    max-width: 130px;
    bottom: 0.5em;
    left: 37%;
}

/*         PIE DE PAGINA         */

.logo2{
    height: 1.875rem;
    width: auto;
    margin: 0.625rem;
    padding-bottom: 0px;
}

footer > p{
    padding-bottom: 0.625rem;
    text-align: center;
    color: white;
    font-weight: bold;
    margin: 0 .625rem 0 .625rem;
}

footer{
    text-align: center;
    background: #0A3871;
}

@media screen and (max-width: 720px){
    
    *{
        font-size: 15px;
    }
    
    main{
      flex-wrap: wrap;
    }

    .espacio{
        padding-bottom: .6rem;
    }
    
    .logo1{
      height: 2.185rem;
    }
    
    .switch{
      height: 1.5rem;
      font-size: .8rem;
      width: 4rem;
    }
    
    .cuadro1{
      width: 80%;
      height: 16rem;
    }
    
    .text-area{
      height: 9rem;
    }
    
    .encryp, .desencryp{
        padding: 0.625rem;
        margin: 0.625rem;
        width: 8.5rem;
    }
    
    .cuadro2{
      width: 80%;
      height: 12rem;
    }
    
    .mensaje2{
      height: 10rem;
    }
    
    footer{
      font-size: .8rem;
    }
    
}